<%- include("header.ejs"); -%> 
<body>
  <div class="box" id="heading">
    <h1><%=Title%>
    </h1>
  </div>
  <div class="box it">
    <h2>Your To Do List :-</h2>
    <% myTask.forEach(function(tsk){ %>
      <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkedItem" value="<%= tsk.id %>" onChange="this.form.submit()">
        <p>
          <%=tsk.task %>
        </p>
      </div>
      <input type="hidden" name="list" value=<%= Title%>></input>
      </form>
      <% }) %>
      <form  class="item" action="/Plan" method='POST'>
        <input type="text" id="work" name="Task" placeholder="New Task" autocomplete="off">
        <button type="submit" name="list" value=<%= Title %> >+</button>
      </form>
  </div>
 
</body>
<%- include("footer.ejs"); -%> 